body,html{
    height: 100%;
    padding: 0;
    margin: 0;
}

body{
    font-family: sans-serif;
    text-align: center;
    background: -webkit-radial-gradient(rgb(75, 75, 75),rgb(36, 36, 36),black);

}
.nuves{
    width: 220px;
    height: 220px;
    /*border: 1px solid red;*/

    position:absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
.mapa{
    width: 200px;
    height: 200px;
    /*border:1px solid red;*/
    /*background-color: lightblue;*/
    border-radius: 50%;
    box-shadow: -40px -20px 0 0 rgba(0, 0, 0, .15) inset,
    -70px -30px 0 0 rgba(0, 0, 0, .15) inset,
    5px 5px 0 0 rgba(225, 255, 255, .15) inset;
    background: url(photo/fotonoticia_20150212135653_1024.jpg);
    background-size: cover;
    -webkit-animation: tierra-girando 15s infinite linear;
}
@-webkit-keyframes tierra-girando {
    from{background-position: left center;}
    to{background-position:  -512px center;}
}
.estellas{
    width: 2px;
    height: 2px;
    background-color: white;
    position: absolute;
    /*top: 20%;
    left: 50%;*/
    border-radius: 50%;

    /*box-shadow: 0 0 5px 5px rgb(255, 255, 255,.35) ;*/
}
.a{
 top: 90%;
 left: 93%;
}
.b{
    top: 80%;
    left: 52%;
}
.c{
    top: 60%;
    left: 90%;
}
.d{
    top: 10%;
    left: 90%;
}
.e{
    top:40% ;
    left:40% ;
}
.f{
    top: 19%;
    left: 30%;
}
.g{
    top: 44% ;
    left: 70%;
}
.h{
    top: 29%;
    left: 20%;
}
.i{
    top: 70%;
    left: 32%;
}
.j{
    top: 85%;
    left: 70%;
}
.k{
    top: 7%;
    left: 13%;
}
.l{
    top: 4%;
    left: 30%;
}
.m{
    top: 90%;
    left: 22%;
}
.n{
    top: 11%;
    left: 75%;
}
.ñ{
    top: 8%;
    left: 66%;
}
.o{
    top: 8%;
    left: 34%;
}
.p{
    top: 30%;
    left: 7%;
}
.q{
    top: 40%;
    left: 92%;
}
.r{
    top: 20%;
    left: 50%;
}
.s{
    top: 75%;
    left: 1%;
}

.estrella:nth-child(2n){
    -webkit-anmation: estrella-par 2s infinite;
}

@-webkit-keyframes estrella-par{

    0%, 85%{box-shadow: 0 0 3px 3px rgba(255, 255, 255, .35)};
    
    100%{box-shadow: 0 0 15px 15px rgb(255, 255, 255,0.35)};
}
.estella:nth-child(2n+1){
    -webkit-anmation: estrella-impar 2s infinite;
}

@-webkit-keyframes estrella-impar{

    0%, 35%, 50% {box-shadow: 0 0 3px 3px rgba(255, 255, 255, .35)};
    
    100%{box-shadow: 0 0 15px 15px rgb(255, 255, 255,0.35)};
}